.banner{
    background: url('https://cdn23.img.ria.ru/images/07e5/09/0e/1750087318_0:0:0:0_0x0_100_0_0_167e4c3ee82b23414667eeb15b1d567e.png') center / cover;
    width: 100%;
    height: 250vh;
    position: relative;
    display: flex;
    align-items: center;
    object-fit: cover;
}

.bannerContent{
    width: 100%;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    bottom: 0%;
    text-align: center;
    margin-bottom: 50px;
}

.bannerContent h1{
    font-size: 70px;
    color: white;
    margin: 0;
}
.bannerContent h2{
    width: 45%;
    color: white;
    font-size: 30px;
}

.bannerContent button{
    outline: 0;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    background: none;
    font-size: 20px;
    padding: 7px 10px;
    margin-top: 40px;
}

.bannerContent button:hover{
    background: white;
    color: black;
}









.block2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.block2info{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block2content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 85%;
}


.block2content h1{
    font-size: 70px;
    margin: 0;
}
.block2content h2{
    font-size: 30px;
}

.buttons{
    width: 100%;
}
.block2content button{
    outline: 0;
    width: 25%;
    border: 2px solid black;
    color: gray;
    border-radius: 20px;
    background: none;
    font-size: 18px;
    padding: 7px 10px;
    margin: 0 10px;
    margin-top: 40px;
}

.block2content button:hover{
    background: black;
    color: white;
}

.block2photo{
    width: 45%;
    height: 100%;
}


.block2banner{
    background: url('https://htstatic.imgsmail.ru/pic_image/54b7a9fe9fc7976b27b831e2de33bed9/450/450/1670177/')center/ cover;
    width: 100%;
    height: 100%;
}

.block3{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #b19cd8;
}

.block3photo{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block3img{
    background: url('https://im.haberturk.com/2020/12/06/ver1607258590/2894054_810x458.jpg') center / cover;
    width: 100%;
    height:100%;
}

.buttons2{
    width: 100%;
}
.buttons2 button{
    width: 25%;
    outline: 0;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    background: none;
    font-size: 18px;
    padding: 7px 10px;
    margin: 0 10px;
    margin-top: 40px;
}

.buttons2 button:hover{
    background: white;
    color: black;
}



.addblock{
    background: black;
    color: white;
}








@media (max-width:1041px){
    .buttons button{
        width: 35%;
    }
    .buttons2 button{
        width: 35%;
    }
}


@media (max-width:905px){
    .block2content h1{
        font-size: 60px;
    }
    .block2content h2{
        font-size: 25px;
    }   
    .buttons button{
        width: 45%;
    }
    .buttons2 button{
        width: 45%;
    }
}

@media (max-width:825px){
    .block2content h1{
        font-size: 50px;
    }
    .block2content h2{
        font-size: 20px;
    }   
}

@media (max-width:782px){
    .block2{
        width: 100%;
        height: 70vh;
    }
    
    .block2info{
        width: 60%;
    }
    
    .block3photo{
        width: 40%;
    }

    .buttons button{
        font-size: 14px;
        margin: 0 5px;
    }
    .buttons2 button{
        font-size: 14px;
        margin: 0 5px;
    }

    .block3{
        height: 70vh;
    }
}

@media (max-width:714px){

    .bannerContent h1{
        font-size: 55px;
    }
    .bannerContent h2{
        font-size: 25px;
        width: 60%;
    }
}

@media (max-width:609px){

    .buttons button{
        font-size: 12px;
        margin: 0 5px;
    }
    .buttons2 button{
        font-size: 12px;
        margin: 0 5px;
    }

    .block2content h1{
        font-size: 38px;
    }
    .block2content h2{
        font-size: 18px;
    }

}


@media (max-width:509px){

    .bannerContent h1{
        font-size: 47px;
    }
    .bannerContent h2{
        font-size: 18px;
        width: 70%;
    }
}

@media (max-width:473px){

    .buttons button{
        font-size: 10px;
        margin: 3px 0;
    }
    .buttons2 button{
        font-size: 10px;
        margin: 3px 0;
    }

    .block2content h1{
        font-size: 32px;
    }
    .block2content h2{
        font-size: 14px;
    }
}